.box-container {
  text-align: center;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
}
.feedbackHeader {
  width: 80%;
}
.colorButton {
  width: 224px;
  height: 46px;
  border: none;
  background-color: #abd4fa;
  color: #000000;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
}
.car-image {
  width: 660px;
}
.card-qr {
  height: 660px;
  width: 420px;
  background: #1e1e1e;
  border: none;
}
.colorButton img {
  margin-left: 4px;
}
.colorButtonSec img {
  margin-left: 8px;
}
.card-text {
  font-weight: 275;
  font-size: 36px;
  padding: 47px 45px;
  color: #fff;
  resize: none;
  margin-bottom: 0;
}
.card-buttons {
  width: 100%;
  align-items: center;
}
.yes-button {
  padding: 8px 20px;
  background: #acd1f0;
  border-radius: 22px;
  width: 100px;
  margin: 0 auto;
}
.no-button {
  margin-top: 20px;
  padding: 8px 30px;
  background: #000;
  color: #fff;
  border-radius: 22px;
  width: 100px;
  margin: 20px auto;
}
.feedbacktext {
  font-size: 60px;
  color: #ffff;
}

.colorButtonSec {
  width: 184px;
  height: 46px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 25px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.becknIcon {
  width: 300px;
  height: 112px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.becknIcon img {
  background-color: black;
  padding: 12px;
}
.beckn-logo-img {
  background-color: black;
  margin-top: 10px;
  padding: 15px;
}

.homeIcon {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 10px;
}

.textcenter {
  position: relative;
  justify-content: center;
}
.divText {
  text-align: center;
}
.mainCard {
  width: 96%;
  margin: 0 auto;
  font-weight: 275;
}

.subTitle {
  font-size: 30px;
  margin-top: 3%;
  color: white;
}
.ant-card-body {
  padding: unset !important;
}

.thanksCard {
  text-align: center;
  background-color: #1e1e1e;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.thanksCardText {
  font-size: 70px;
  color: #ffff;
}

.thanksCardSubText {
  font-size: 40px;
  color: #ffff;
  margin-top: 40px;
}

.qrCode {
  margin-top: 40px;
  margin-bottom: 40px;
}
.btn-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.btn-feedback button {
  margin-bottom: 20px;
}

.textarea-text {
  padding: 10px;
  height: 140px;
  width: 360px;
  background: #1e1e1e;
  color: #fff;
}
.submit-btn {
  padding: 8px 18px;
  background: #acd1f0;
  border-radius: 30px;
  width: 100px;
  margin: 22px auto;
  font-size: 14px;
}
.vmj-back-btn {
  background: black;
  color: #aed3f0;
  width: 104px;
  margin: 40px auto;
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 14px;
}
.travelbuddylogo {
  position: absolute;
  top: 129px;
  left: 10%;
}
.whatsapplogo {
  position: absolute;
  top: 129px;
  left: 10.8%;
  height: 18px;
}
.taxilogo {
  position: absolute;
  top: 125px;
  left: 55%;
}
.luxecabslogo {
  position: absolute;
  top: 129px;
  left: 76.6%;
  width: 2.5%;
}
.flow-wrap {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}
.crossIcon img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.sequencial-flow {
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 9999;
  background: black;
}
.cuvAob {
  padding-top: 120px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .homeIcon {
    right: 0 !important;
  }
  .subTitle {
    font-size: 13px;
    margin-top: 30px;
    color: white;
  }
  .colorButton {
    font-size: 14px;
    width: 175px;
    height: 35px;
  }
  .colorButtonSec {
    font-size: 14px;
    width: 160px;
    height: 35px;
  }
  .feedbacktext {
    font-size: 25px;
  }
  #lastFeedback {
    width: 80% !important;
  }
  .becknIcon {
    margin-bottom: 50px;
    margin-top: 50px;
    width: unset;
  }
  .colorButton img {
    width: 10% !important;
  }
  .btn-feedback .colorButtonSec > img {
    width: 10% !important;
  }
  .becknIcon img {
    width: 140px;
  }
  .thanksCardText {
    font-size: 30px;
  }
  .card-text {
    font-size: 35px;
  }
  .thanksCardSubText {
    font-size: 23px;
  }
  .cur-pointer img {
    width: 50% !important;
  }
  .qrCode {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .thanksCard {
    width: 96%;
    padding: 20px 5px;
  }
  .container img {
    width: 50%;
  }
  .card-qr {
    height: unset;
    width: 100%;
    background: #1e1e1e;
  }
  .card-qr img {
    width: 20%;
  }
  .card-text {
    font-size: 22px;
    color: #fff;
    resize: none;
  }
  .card-buttons {
    width: 100%;
    align-items: center;
    margin-top: 15px;
  }
  .car-image {
    max-width: 400px;
    display: none;
    align-content: center;
  }
  .textarea-text {
    padding: 10px;
    height: 90px;
    width: 80%;
    margin-top: unset;
  }
  .submit-btn {
    margin-bottom: 25px;
    font-size: 13px;
  }

  .card-buttons .yes-button img,
  .card-buttons .no-button img {
    width: 20% !important;
  }
  .submit-btn a img {
    width: 20% !important;
  }
  .feedbCKBTn img {
    width: 50% !important;
  }
  .feedbCKBTn {
    right: unset !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .feedbacktext {
    font-size: 45px;
  }
  .homeIcon {
    right: 0 !important;
  }
  .subTitle {
    margin-top: 40px;
  }
  .thanksCard {
    width: 94%;
    margin-top: 40px;
  }
  .thanksCardText {
    font-size: 45px;
  }
  .card-qr {
    height: 480px;
  }
  .car-image img {
    padding-left: 30px;
  }
  .box-container {
    width: 90%;
  }
  .car-image {
    width: 520px;
  }
  .textarea-text {
    width: 80%;
  }
  .cardFeddback {
    height: unset;
  }
  .textarea-text {
    height: 90px;
    width: 80%;
    margin-top: unset;
  }
  .submit-btn {
    margin-bottom: 25px;
    font-size: 13px;
  }
  .feedbackHeader {
    width: 90%;
  }
  .foripad {
    font-size: 35px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .feedbacktext {
    line-height: 80px;
    font-size: 50px;
  }
  .thanksCardText {
    font-size: 45px;
  }
  .box-container {
    width: 90%;
  }
  .car-image img {
    padding-left: 30px;
  }
  .car-image {
    width: 520px;
  }
  .textarea-text {
    width: 80%;
  }
  .feedbackHeader {
    width: 90%;
  }
}
@media screen and (min-width: 1445px) and (max-width: 1600px) {
  .box-container {
    width: 90%;
  }
  .feedbackHeader {
    width: 90%;
  }
}

/* ................................View-my-journey.......................... */
.ant-modal-content {
  box-shadow: none !important;
  padding: 0 !important;
}
