.floatingedges {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.floatingedges .react-flow__handle {
  opacity: 0;
}
.react-flow__node.whatsapp {
  background: url("../../../src/assets/whatsapp.svg");
 
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ACD1F0;
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.react-flow__node.mobility {
  background: url("../../../src/assets/myMobility.svg");
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ACD1F0;
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.react-flow__node.Luxecub {
  background: url("../../../src/assets/luxe.svg");
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ACD1F0;
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.react-flow__node.RHP {
  background: url("../../../src/assets/taxiIcon.svg");
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ACD1F0;
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.react-flow__node.gateway {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black !important;
  color: #fff;
  font-weight: 700;
  font-size: 5px;
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.floatingedges .react-flow__handle {
  display: none;
}
.react-flow__node-default {
  outline: solid;
  outline-color: #fff;
  outline-offset: 4px;
  border-radius: unset !important;
}
.react-flow__node.selectable:focus,
.react-flow__node.selectable:focus-visible {
  outline: solid !important;
  outline-color: #fff !important;
  outline-offset: 4px;
}