.mobility-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 70vh;
  position: relative;
}
.mobilitys {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.mobility {
  width: 130px;
  height: 130px;
  display: grid;
  align-content: center;
  /* position: absolute; */
  position: relative;
  left: 8px;
  /* left: 10px; */
  /* top: 49px; */
}
.bordermobility {
  width: 150px;
  height: 150px;
  display: grid;
  align-content: center;
  /* margin: 40px 40px 40px 0px; */
  /* border: 2px solid white; */
}
.taxis {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.taxi {
  width: 130px;
  height: 130px;
  display: grid;
  align-content: center;
  position: relative;
  left: 8px;
  /* margin: 40px 0px 40px 0px; */
}

.bordertaxi {
  width: 150px;
  height: 150px;
  display: grid;
  align-content: center;
}
.yatri > img {
  height: 100% !important;
  width: 100% !important;
}
.gateways {
  margin: 0 auto;
  background: none !important;
  display: grid;
  align-content: end;
  margin: 0px auto;
  text-align: center;
}
.gateway,
.bordergateway {
  margin: 0 auto;
  background: none !important;
  padding: 2px;
}
.bordergateway {
  border: 2px solid white;
  border-radius: 50%;
  margin: 10px;
}
.gateway > div {
  height: 60px;
  width: 60px;
  display: grid;
  background: #000 !important;
  max-width: 200px;
  color: #fff;
  border-radius: 50%;
  align-content: center;
  font-size: 10px;
}
.yatris {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.yatri {
  width: 130px;
  height: 130px;
  display: grid;
  align-content: center;
  position: relative;
  left: 8px;
  /* margin: 40px 0px 40px 0px; */
}
.borderyatri {
  width: 150px;
  height: 150px;
  display: grid;
  align-content: center;
}
.whatsappMobilitys {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.whatsappMobility {
  width: 130px;
  height: 130px;
  display: grid;
  align-content: center;
  position: relative;
  left: 8px;
}
.borderwhatsappMobility {
  width: 150px;
  height: 150px;
  display: grid;
  align-content: center;
}

.mobility-row img {
  height: 80px;
  margin: 0 auto;
}
.step {
  height: 20px;
  width: 20px;
  /* position: relative;
  right: 165px; */
  /* border-radius: 4px; */
  background-color: #fff;
  color: #000;
  transform: rotate(130deg);
}
.step_mobilitytaxi {
  transform: rotate(180deg);
}
.step_gatewayyatri {
  transform: rotate(127deg);
}
.step_gatewaytaxi {
  transform: rotate(148deg);
}
.step_taxigateway {
  transform: rotate(148deg);
}
/* .whatsapp-img {
  width: 50px;
  position: absolute;
  left: 37.5%;
  top: 34%;
} */
.mobilityFooter {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.mobilityFooter .GWP {
  position: absolute;
  bottom: 0;
  left: 0;
}
.mobilityFooter .GWP > img {
  width: 250px;
  /* z-index: 99; */
  position: relative;
}
.mobilityFooter .MWP {
  position: absolute;
  bottom: 0;
  right: 0;
  /* z-index: 2; */
}
.mobilityFooter .MWP > img {
  width: 130px;
  /* z-index: 99; */
  position: relative;
}
.mobilityFooter .circle {
  position: absolute !important;
  /* left: 90px; */
  width: 130px !important;
  /* z-index: 0 !important; */
}
.circle-driver-active {
  position: absolute !important;
  right: 139px;
  bottom: 67px;
  width: 130px !important;
  /* z-index: 0 !important; */
}
.circle-driver {
  position: absolute !important;
  left: 111px;
  bottom: 106px;
  width: 130px !important;
  /* z-index: 0 !important; */
}
.GWP-text {
  padding: 10px;
  background: #d5ffce;
  width: 190px;
  margin: 0 0 0 auto;
  margin-bottom: 60px;
  border-radius: 12px;
  position: relative;
  font-size: 14px;
}
.GWP-text:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}
.GWP-text:after {
  border-left: solid transparent 4px;
  border-right: solid transparent 4px;
  border-top: solid #d5ffce 60px;
  bottom: -60px;
  content: " ";
  height: 0;
  left: 25%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
.MWP-text {
  padding: 10px;
  background: #fff;
  width: 170px;
  margin: 0 auto;
  border-radius: 12px;
  position: relative;
  font-size: 14px;
  top: 0px;
  left: -70px;
}
.MWP-text:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}
.MWP-text:after {
  border-left: solid transparent 4px;
  border-right: solid transparent 4px;
  border-top: solid #fff 40px;
  bottom: -35px;
  content: " ";
  height: 0;
  left: 24%;
  margin-left: 60px;
  position: absolute;
  width: 0;
  transform: rotate(328deg);
}
.eventMessage {
  color: #fff;
  font-size: 14px;
  top: -15px;
}
.Xarrow:not(:last-child) svg {
  padding-top: 40px !important;
  height: auto !important;
}
.Xarrow:not(:last-child) h3 {
  padding-top: 60px !important;
  height: auto !important;
}
.Xarrow:not(:last-child) .step {
  margin-top: 80px !important;
}
/* .Xarrow:not(:last-child) .eventMessage {
  margin-top: 30px !important;
} */
/* .event_9 {
  transform: rotate(50deg);
} */
.Xarrow {
  position: relative;
}
/* 
// Gateway	 	gateway.becknprotocol.io
// Travelbuddy	 	mobilityreferencebap.becknprotocol.io
// TravelHub	 	becknify.humbhionline.in.mobility.BPP/beckn_open/app1-succinct-in
// Whatsapp	 	mobilityreferencebap-staging.becknprotocol.io
// LuxeCabs	 	becknify.humbhionline.in.mobility-staging.BPP/beckn_open/app1-succinct-in
// Yatri	 	api.sandbox.beckn.juspay.in/bpp/cab/v1/3041599b-2fcf-45e1-bfd5-115db5cd1353
 LuxeCabs	 	becknify.humbhionline.in/mobility/beckn_open/taxi-staging/bpp
*/

.event_Gateway_TravelBuddy {
  transform: rotate(35deg);
  margin-bottom: 10px;
}
.event_TravelBuddy_Gateway {
  transform: rotate(36deg);
  margin-top: 31px;
}
.event_TravelBuddy_TaxiHub {
  margin-bottom: 20px;
}
.event_Gateway_TaxiHub {
  transform: rotate(321deg);
  margin-bottom: 180px;
}
.event_Gateway_LuxeCabs {
  transform: rotate(35deg);
  margin-top: 48px;
  margin-left: 15px;
}
.event_TaxiHub_Gateway {
  transform: rotate(-36deg);
  margin-top: 30px;
}
.event_LuxeCabs_Gateway {
  transform: rotate(36deg);
  margin-bottom: 137px;
}
.event_TaxiHub_TravelBuddy {
  margin-bottom: 20px;
}
.event_Gateway_WhatsApp {
  transform: rotate(-34deg);
  margin-top: 60px;
}
.event_WhatsApp_Gateway {
  transform: rotate(-34deg);
  margin-top: -18px;
}
.event_WhatsApp_TaxiHub {
  transform: rotate(-48deg);
  margin-bottom: 401px;
}
.event_TaxiHub_WhatsApp {
  transform: rotate(-7deg);
  margin-bottom: -19px;
  margin-right: 292px;
}

.step_TaxiHub_Gateway {
  transform: rotate(53deg);
}
.step_LuxeCabs_Gateway {
  transform: rotate(38deg);
}
.step_Gateway_TaxiHub {
  transform: rotate(52deg);
}
.step_TravelBuddy_TaxiHub {
  transform: rotate(90deg);
}
.step_TaxiHub_TravelBuddy {
  transform: rotate(90deg);
}
.step_Gateway_LuxeCabs {
  transform: rotate(38deg);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .eventMessage {
    width: 170px;
  }
  .event_Gateway_TravelBuddy {
    transform: rotate(41deg);
    margin-bottom: 62px;
  }
  .event_TravelBuddy_Gateway {
    transform: rotate(41deg);
    margin-top: 133px;
  }
  .event_Gateway_TaxiHub {
    transform: rotate(323deg);
    margin-bottom: 183px;
  }
  .event_TaxiHub_Gateway {
    transform: rotate(-45deg);
    margin-top: 115px;
  }
  .event_Gateway_LuxeCabs {
    transform: rotate(48deg);
    margin-top: 135px;
    /* margin-left: 15px; */
  }
  .event_LuxeCabs_Gateway {
    transform: rotate(41deg);
    margin-bottom: 77px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .eventMessage {
    width: 190px;
  }
  .event_Gateway_TravelBuddy {
    transform: rotate(43deg);
    margin-bottom: 112px;
  }
  .event_TravelBuddy_Gateway {
    transform: rotate(48deg);
    margin-top: 134px;
  }
  .event_Gateway_TaxiHub {
    transform: rotate(318deg);
    margin-bottom: 253px;
  }
  .event_TaxiHub_Gateway {
    transform: rotate(-45deg);
    margin-top: 115px;
  }
  .event_LuxeCabs_Gateway {
    transform: rotate(46deg);
    margin-bottom: 109px;
  }
  .event_Gateway_LuxeCabs {
    transform: rotate(43deg);
    margin-top: 142px;
    /* margin-left: 15px; */
  }
  .event_TaxiHub_WhatsApp {
    transform: rotate(-7deg);
    margin-bottom: -19px;
    margin-right: 150px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .eventMessage {
    width: 200px;
  }
  .event_TaxiHub_Gateway {
    transform: rotate(-43deg);
    margin-top: 132px;
  }
  .event_TravelBuddy_Gateway {
    transform: rotate(43deg);
    margin-top: 129px;
  }
  .event_Gateway_TravelBuddy {
    transform: rotate(45deg);
    margin-bottom: 104px;
  }
  .event_Gateway_TaxiHub {
    transform: rotate(315deg);
    margin-bottom: 270px;
  }
  .event_Gateway_LuxeCabs {
    transform: rotate(43deg);
    margin-top: 132px;
    /* margin-left: 15px; */
  }
  .event_LuxeCabs_Gateway {
    transform: rotate(44deg);
    margin-bottom: 103px;
  }
  .event_TaxiHub_WhatsApp {
    transform: rotate(-7deg);
    margin-bottom: -19px;
    margin-right: 150px;
  }
}

@media screen and (min-width: 1740px) and (max-width: 1920px) {
  .event_Gateway_TaxiHub {
    transform: rotate(325deg);
    margin-bottom: 190px;
  }
  .event_Gateway_TravelBuddy {
    transform: rotate(35deg);
    margin-bottom: 139px;
  }
  .event_TravelBuddy_Gateway {
    transform: rotate(35deg);
    margin-top: 80px;
  }
  .event_TaxiHub_Gateway {
    transform: rotate(-33deg);
    margin-top: 75px;
  }
  .event_Gateway_LuxeCabs {
    transform: rotate(34deg);
    margin-top: 73px;
    /* margin-left: 15px; */
  }
  .event_LuxeCabs_Gateway {
    transform: rotate(35deg);
    margin-bottom: 180px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1740px) {
  .event_Gateway_TaxiHub {
    transform: rotate(314deg);
    margin-bottom: 283px;
  }
  .event_Gateway_TravelBuddy {
    transform: rotate(46deg);
    margin-bottom: 126px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 768px) {
  .event_Gateway_TravelBuddy {
    transform: rotate(43deg);
    margin-bottom: 100px;
  }
  .event_WhatsApp_TaxiHub {
    transform: rotate(-48deg);
    margin-bottom: 299px;
  }
}
