@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
.beckn-app {
  position: relative;
  background: url("../src/assets/beckn-background.svg");
  height: 100vh;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: grid;
  align-content: center;
  text-align: center;
}
.beckn-app-container {
  /* max-width: 1600px;
  width: 70%;
  margin: 0 auto; */
}
